/* Basic reset */
* {

    background: #ffd36c;
}

/* Countdown container styling */
#countdown-container {
    display: flex;
    flex-direction: column; /* Arrange children vertically */
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #FFC0CB; /* Pink background */
    color: #000000;
}

#countdown-text {
    font-size: 19px;
    background-color: #FFC0CB;
    font-style: italic;
    padding: 20px;
    border-radius: 10px;
    font-family: 'Times New Roman';
    margin-bottom: 20px; /* Space between text and countdown */
}

#countdown {
    font-size: 150%;
    font-family: 'Courier New', Courier, monospace; /* Digital clock effect */
    background-color: rgb(255, 255, 255); /* Slightly transparent background */
    padding: 20px;
    border-radius: 10px;
}

/* Hide content by default */
.hidden {
    display: none;
}

h1 {
    font-family: 'Times New Roman';
    font-size: 50px;
    display: inline-block; /* Flexbox layout */
    justify-content: center; /* Center horizontally */
    font-weight: bold;
    color: #ffffff;
    white-space: nowrap;
    overflow: hidden;
}

h1 span {
    display: inline-block;
    transform-origin: center bottom;
    animation: wave 1.5s ease-in-out infinite;
}

@keyframes wave {
    0%, 100% { transform: rotate(0deg); }
    25% { transform: rotate(10deg); }
    50% { transform: rotate(-10deg); }
    75% { transform: rotate(10deg); }
}


/* Icons styling */
.icons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.icon {
    width: 400px;
    background-color: #FFC0CB;
    margin: 0 10px;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 6mm), 0 calc(100% - 6mm));
}

.icon2 {
    width: 100px;
    background-color: #ffd36cd4;
    margin: 0 10px;

}

.icon3 {
    width: 100px;
    background-color: #ffd36cd4;
    margin: 0 10px;
}

.icon4 {
    width: 100px;
    background-color: #ffd36cd4;
    margin: 0 10px;
}

.icon5 {
    width: 100px;
    background-color: #ffd36cd4;
    margin: 0 10px;
    padding-right: 30px;
}



/* Special Message styling */
.special-message {
    margin-top: 30px;
}

/* Container styling for itinerary */
.container {
    background-color: rgba(141, 238, 236, 0.884);
    padding: 200px;
    border-radius: 10px;
    max-width: 0px;
    width: 100%;
    margin: 0 auto;
}

/* Itinerary styling */
.itinerary {
    list-style-type: none;
    padding: 0;
}

.itinerary li {
    font-size: 20px
}

.itinerary a {
    color: #4c8aef;
    text-decoration: none;
}

#confetti {
    left: 0;
    position: fixed;
    right: 0; 
    top: -160px;
    z-index: 10000;
   }
    
   #confetti .ball {
    animation-iteration-count :infinite !important;
    -webkit-animation-iteration-count :infinite !important;
    border-radius: 50%;
    cursor: default;
    display: inline-block;
    height: 10px;
    user-select: none; 
    -webkit-user-select: none; 
    width: 10px;
   } 
    
   @-webkit-keyframes falling-left {
    0% {-webkit-transform: translate3d(0,0,0);opacity: 1;}
    10% { opacity: 0;}
    20% { opacity: 1;}
    30% { opacity: 0;}
    40% { opacity: 1;}
    50% { opacity: 0;}
    60% { opacity: 1;}
    70% { opacity: 0;}
    80% { opacity: 1;}
    90% { opacity: 0;}
    100% {-webkit-transform: translate3d(0,120vh,0); opacity: 1;}
   }
    
   @keyframes falling-left {
    0% {-webkit-transform: translate3d(0,0,0);opacity: 1;}
    10% { opacity: 0;}
    20% { opacity: 1;}
    30% { opacity: 0;}
    40% { opacity: 1;}
    50% { opacity: 0;}
    60% { opacity: 1;}
    70% { opacity: 0;}
    80% { opacity: 1;}
    90% { opacity: 0;}
    100% {-webkit-transform: translate3d(0,120vh,0); opacity: 1;}
   }
    
   #confetti .ball:nth-child(2n) {
    -webkit-animation: falling-left linear;
    animation: falling-left linear ;
   }
    
   @-webkit-keyframes falling-right {
    0% {-webkit-transform: translate3d(0,0,0);opacity: 0;}
    10% { opacity: 1;}
    20% { opacity: 0;}
    30% { opacity: 1;}
    40% { opacity: 0;}
    50% { opacity: 1;}
    60% { opacity: 0;}
    70% { opacity: 1;}
    80% { opacity: 0;}
    90% { opacity: 1;}
    100% {-webkit-transform: translate3d(0,120vh,0); opacity: 0;}
   }
    
   @keyframes falling-right {
    0% {-webkit-transform: translate3d(0,0,0);opacity: 1;}
    10% { opacity: 0;}
    20% { opacity: 1;}
    30% { opacity: 0;}
    40% { opacity: 1;}
    50% { opacity: 0;}
    60% { opacity: 1;}
    70% { opacity: 0;}
    80% { opacity: 1;}
    90% { opacity: 0;}
    100% {-webkit-transform: translate3d(0,120vh,0); opacity: 0;} 
   }
    
   #confetti .ball:nth-of-type(2n+1) {
    -webkit-animation: falling-right linear ;
    animation: falling-right linear;
   }